* {
  background-color: black;
  color: white;
}

p {
  font-size: 18px;
}
img {
  width: 50px;
  height: 50px;
}

.cryptoname {
  font-size: 20px;
  font-weight: bold;
  justify-content: left;
}

.green {
  color: green;
}

.red {
  color: red;
}

@media screen and (max-width: 650px) and (min-width: 450px) {
  body {
    width: 100%;
    text-align: center;
  }

  .no-priority {
    display: none;
  }

  body {
    padding: 0.5rem;
    font-size: 16px;
    min-height: 100vh;
  }

  form {
    margin-left: 0.5rem;
  }
}
