* {
  box-sizing: border-box;
  max-width: 100%;
}

.Wrapper {
  height: 100vh;
  position: relative;
}

table thead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
table tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Busqueda {
  display: flex;
  justify-content: space-between;
}

.Options {
  display: initial;
}

/*Si funciona*/
@media screen and (max-width: 800px) {
  body {
    width: 95%;
  }
  .no-priority {
    display: none;
  }
  body {
    padding: 0.1rem;
    margin: 0.1rem;
  }
}
/* si se pone pink*/
@media screen and (max-width: 650px) {
  .no-priority2 {
    display: none;
  }

  .Options {
    display: none;
  }
}
