* {
  box-sizing: border-box;
  max-width: 100%;
}

html,
body {
  height: 100vh;
}

.Wrapper {
  min-height: 100vh;
}

table thead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
table tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Busqueda {
  display: flex;
  justify-content: space-between;
}

.Options {
  display: initial;
}
footer {
  position: sticky;
  bottom: 0;

  width: 100%;
}
footer p {
  font-size: 0.8em;
  margin: 0;
}

/*Si funciona*/
@media screen and (max-width: 800px) {
  body {
    width: 95%;
  }
  .no-priority {
    display: none;
  }
  body {
    padding: 0.1rem;
    margin: 0.1rem;
  }
}

@media screen and (max-width: 650px) {
  .no-priority2 {
    display: none;
  }

  .Options {
    display: none;
  }
}
