* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  height: 100vh;
}

.Busqueda {
  display: flex;
  justify-content: space-between;
}

/**Do align .Prueba to the bottom**/
.Prueba {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/*Si funciona*/
@media screen and (max-width: 800px) {
  body {
    width: 95%;
  }
  .no-priority {
    display: none;
  }
  body {
    padding: 0.1rem;
    margin: 0.1rem;
  }
}
/* si se pone pink*/
@media screen and (max-width: 650px) {
  .no-priority2 {
    display: none;
  }
}
